## JSON

In diesem Beispiel schauen wir uns das Einlesen und die Ausgabe eines JSON Objektes an.

Dazu führen wir zunächst die folgende Importe aus:

In [1]:
import numpy as np
from pandas import DataFrame
import pandas as pd
import json

Wir benötigen ein Beispiel JSON (JavaScript Object Notation) Objekt:

In [2]:
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

Danach können wir das JSON Objekt laden und ausgeben lassen.

In [3]:
data = json.loads(json_obj)
data

{'clothes': None,
 'diet': [{'food': 'grass', 'fur': 'Brown', 'zoo_animal': 'Gazelle'}],
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'zoo_animal': 'Lion'}

In [4]:
type(data)

dict

Um das JSON Objekt wieder zurück zu einem String zu konvertieren, verwenden wir den "dumps" Befehl.

In [5]:
json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

Wir können aus dem geladenen JSON Objekt auch ein Pandas DataFrame erstellen und ausgeben.

In [6]:
dframe = DataFrame(data['diet'])
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle

Man kann noch viel mehr mit einem DataFrame aus einer JSON Datei laden wie z.B. die Spalten.

# Gut gemacht!